/* Para el cuerpo el tipo de tipografia */
body {
    font-family: 'Roboto', sans-serif;
    color: #000;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2, h3, h4, h5 {
    font-family: 'Oswald', sans-serif;
    color: #0d0d0d;
}

main {
    flex: 1;
}

/* En esta parte manda el footer en la parte inferior y se acomoda en automatico */
footer {
    margin-top: auto;
}


/* Pasamos ahora en el diseño del footer */
.footer {
    background-color: #00F00F;
    color: #000000;
    padding: 25px 0;
    text-align: center;

    box-shadow: 0 -10px 25px rgba(0, 0, 0, 0.15);
    border-top: 3px solid #000;
}

.footer h3 {
   font-size: 1.3rem;
}

.footer ul {
    list-style: none;
    margin-bottom: 5px;
    font-size: 0.9rem;
    padding: 0;
}


/* En esta parte es el interlineado de los textos */
.footer ul li {
    margin-bottom: 8px;
}


/* Cambia el color al momento de pasar el cursor */
.footer a {
    color: #000000;
    text-decoration: none;
}
.footer a:hover {
    color: #ffffff;
}


/* Modificacion del boton cambio de region */
.footer .btn {
    background-color: #000000;
    color: #ffffff;
    border-radius: 20px;
     padding: 6px 14px;
}
.footer .btn:hover {
    background-color: #ccc;
}

/*En  la parte iconos sociales al momento de pasar el cursor se pone en negro con el HOVER*/
.social-icons a {
    margin: 0 10px;
    color: #fff;
    transition: transform 0.3s, color 0.3s;
}

.social-icons a:hover {
    color: #000000;
    transform: scale(1.2);
}

@media (max-width: 768px) {
    .carousel img {
        height: 250px;
    }

    .card-img-top {
        height: 150px;
    }
}


/* Mejora visual de los modals al momento de dar click o seleccionar*/
.custom-modal .modal-content {
    background-color: #353333;
    color: #fff;
    border-radius: 15px;
}

.custom-modal .modal-header {
    border-bottom: none;
}

.custom-modal .modal-title {
    font-family: 'Oswald', sans-serif;
}

/* Ahora en la mejora visual de las cards ya que estaba estatico */
.card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.card-img-top {
    height: 200px;
    object-fit: cover;
}


/* Mejora en el carrusel */
.carousel img {
    height: 400px;
    object-fit: cover;
}

/* Mejora en el navbar darle mas vida y estilo */
.navbar {
    font-family: 'Oswald', sans-serif;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}